# Data directories
media/
postgres/
log/*

# Scripts and templates
scripts/immich-API-key.txt
scripts/immich-API-key.txt.example
scripts/immich-go-upload-command.txt

# OS-specific
.DS_Store
Thumbs.db

# Exclude any other temp files
*.bak
